*{
    background-color :rgba(96, 176, 230, 0.882);
    font-size: 30px;
}
p{
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 30%;
    padding-right : auto;
    margin-bottom: 4px;
    font-size: 40px;
    background-color: aliceblue;
    opacity : .7;
    border-radius: 20px;
    
    
}
h1{
    opacity: .9;
    margin-left : 35%;
    width : 300px;
    font-size: larger;
    color : black;
    background-color: rgba(12, 52, 186, 0.777);
    border-radius: 8px;
}
form,fieldset,table,tr,td,sup,a,span,input,label,button{
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
textarea{
    background-color: white;
    font-size: 20px;
}
a{
    text-decoration: none;
}
sup{
    color: red;
    font-size: medium;
}
form{
    width: min-content;
    margin : 30px auto 30px auto;
    padding: 30px 30px 30px 30px;
    background-color :rgba(96, 176, 230, 0.882);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
}
fieldset{
    opacity: .7;
    border-radius: 70px;
    padding-left: 150px;
    padding-top: 20px;
    padding-bottom : 20px;
    padding-right: 150px;
    }
input,textarea{
    margin-left: 20px;
}

button,a{
    border: 1px solid black;
    margin-left : 150px;
    border-radius: 13px;
    padding  : 12px 25px 12px 25px;
    color : rgb(248, 245, 245);
    background-color: rgb(24, 55, 210);
    margin-content: center;

}

#btn{
    padding : 12px 30px 12px 30px;
}
table,legend{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 0;
}
#gender{
    font-size: 24px;
}