*{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,55,121,1) 0%, rgba(0,212,255,1) 100%);

}
p,pre,b{
    background-image: linear-gradient(to right,rgb(179, 251, 255),rgb(207, 226, 144));
    width : 70%;
    margin : auto;
    text-align: justify;
    overflow: scroll;

}
h1{
    margin-left: 50px;
    color : white;
}
footer{
    position : relative;
    top : 20px;
}